body {
  background-color: #1d1d1d !important;
}

body a{
    color: #FF5700;
    font-weight: 600;
}

.spacer{
  margin-top: 100px !important;
}
.mainLaunch h1{
font-size: 4em;
}

.mainLaunch .timer {
    font-weight: 700;
    font-size: 1.2em;
    padding-bottom: 10px;
}

h1,
h2,
h3,
h4,
span,
p,
b,
i {
  color: white;
}

ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14 px 16;
  text-decoration: none;
}
ul.header li a:hover:not(.active) {
  background-color: #111;
}
.selected {
  color: white !important;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1 px solid black;
}
.floatLeft {
  float: left;
  margin-left: 20 px;
}
.floatRight {
  position: absolute;
  right: 0 px;
  margin-right: 10 px;
  margin-top: 6 px;
  color: white;
}
.pageContent {
  margin: 2%;
}
.adminStyle {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit -linear -gradient(to bottom, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
  background: linear -gradient(to bottom, #2c5364, #203a43, #0f2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
ul.header li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16;
  text-decoration: none;
}
